.ShokoPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  section {
    box-shadow: $shadow-md;
  }

  .set-players-section {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-sm;
    border-radius: $border-radius-lg;
    color: $text-color-dark;
    background-color: $background-color-light;

    .set-player-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: $font-size-xl;
        font-weight: 700;
      }

      button {
        aspect-ratio: 1;
        width: 3rem;
        border-radius: 100%;
        font-size: $font-size-lg;
        background-color: $color-success-light;
      }
    }
  }
}
