:root {
  --root-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  color: $text-color-primary;
  background-color: $background-color-primary;
  font-size: var(--root-font-size);
  font-family: $font-stack-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// normalizing

button,
a,
label {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

input,
textarea {
  font-size: $font-size-md;
  font-family: $font-stack-default;
}

// buttons

.btn {
  position: relative;
  top: 0;
  transition: 150ms;

  &:active {
    top: 3px;
  }

  &.btn-icon {
    aspect-ratio: 1;
    width: 2rem;
    border-radius: 100%;
  }
}

// inputs

input,
textarea,
select {
  &:focus {
    outline: 2px solid $color-primary;
  }
}

input {
  border: none;
  color: $text-color-dark;
  border-radius: $border-radius-sm;
}
