:root {
  --root-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  color: $text-color-primary;
  background-color: $background-color-primary;
  font-size: var(--root-font-size);
  font-family: $font-stack-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  font-size: $font-size-md;
  font-family: $font-stack-default;
}
