.HomePage {
  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-nav {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    flex-wrap: wrap;
    padding: $spacing-md;

    .nav-btn {
      position: relative;
      top: 0;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: $border-radius-lg;
      color: $text-color-dark;
      padding: $spacing-sm;
      transition: 200ms;

      header {
        display: flex;
        flex-direction: column;

        .heading {
          font-size: $font-size-xxl;
          font-weight: 700;
        }

        .coming-soon {
          font-size: $font-size-xs;
          color: $text-color-disabled;
        }
      }

      &.shoko-btn {
        background-image: linear-gradient(
          -65deg,
          $color-primary calc(100% - 90px),
          white calc(100% - 87px)
        );
      }

      &.the-town-btn {
        background-image: linear-gradient(
          -65deg,
          $color-secondary calc(100% - 90px),
          white calc(100% - 87px)
        );
      }

      &.charades-btn {
        background-image: linear-gradient(
          -65deg,
          $color-danger calc(100% - 90px),
          white calc(100% - 87px)
        );
      }
    }
  }
}
